.welcome-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  color: var(--color-primary-700);
  margin-bottom: 16px;
}

.welcome-section h3 {
  color: var(--color-accent-coral-500);
}
